    {{#each seenBy}}
        <tr>
            <td width="30px"><img src="/api/v2/avatar/user/{{user.avatarFileId}}" class="img-circle"/></td>
            <td>{{user.name}}</td>
            <td>{{{formatDate at}}}</td>
        </tr>
    {{~/each}}