

<ol class="breadcrumb">
  <li class="active">{{l10n "Home"}}</li>
</ol>

<h1 style="max-width:50%">{{l10n "Home"}}</h1>

<p>
    {{l10n "Welcome to Spika Owner CMS"}}
</p>

<!--
                        <h1 style="max-width:50%">User managment</h1>
                        <button type="button" class="btn pull-right" style="background-color: #009EA0; border-radius: 150px; color:#fff; margin-top:-30px;">+ Invite user</button>
                        <hr>
                        
                        <p  >Showing 1 od 104 enteries</p> 
                            
                        <nav class="pull-right" style=" margin-top:-35px;">
                            <ul class="pagination pagination-sm" style="margin:0px">
                                <li class="disabled"><a href="#" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span></a>
                                </li>
                                <li class="active"><a href="#">1<span class="sr-only" >(current)</span></a></li>
                                <li class="disabled"><a href="#">2</a></li>
                                <li class="disabled"><a href="#">3</a></li>
                                <li class="disabled"><a href="#">4</a></li>
                                <li class="disabled"><a href="#">5</a></li>
                                <li class="disabled"><a href="#">...</a></li>
                                <li class="disabled"><a href="#">6</a></li>
                                <li class="disabled"><a href="#" aria-label="Next">
                                 <span aria-hidden="true">&raquo;</span></a>
                                </li>
                            </ul>
                        </nav>
                            <hr>
                         <table class="table table-hover">
                            <thead>
                              <tr>
                                <th>ID</th>
                                <th>Email address</th>
                                <th>Accepted</th>
                                <th>Invite date</th>
                                <th>Guests</th>
                                <th>Button 2</th>
                                <th>Button 1</th>
                              </tr>
                            </thead>
                            <tbody>
                                <td>1234</td>
                                <td>trstenjak.nikola@gmail.com</td>
                                <td>Yes</td>
                                <td>13.01.2016.</td>
                                <td>Disabled</td>
                                <td><button type="button" class="btn" style="  border: 2px solid #009ea0; border-radius:150px; background-color: #fff;  color:#009EA0;">Disable</button></td>
                                <td><button type="button" class="btn" style="  border: 2px solid #D0021B; border-radius:150px; background-color: #fff;  color:#D0021B;">Delete</button></td>
                              </tr>
                              <tbody>
                                <td>1234</td>
                                <td>nikola.trstenjak@clover-studio.com</td>
                                <td>Yes</td>
                                <td>13.01.2016.</td>
                                <td>Disabled</td>
                                <td><button type="button" class="btn" style="  border: 2px solid #009ea0; border-radius:150px; background-color: #fff;  color:#009EA0;">Disable</button></td>
                                <td><button type="button" class="btn" style="  border: 2px solid #D0021B; border-radius:150px; background-color: #fff;  color:#D0021B;">Delete</button></td>
                              </tr>
                              </tr>
                              <tr>
                                <td>1234</td>
                                <td>ken.yasue@clover-studio.com</td>
                                <td>Yes</td>
                                <td>13.01.2016.</td>
                                <td>Disabled</td>
                                <td><button type="button" class="btn" style="  border: 2px solid #009ea0; border-radius:150px; background-color: #fff;  color:#009EA0;">Disable</button></td>
                                <td><button type="button" class="btn" style="  border: 2px solid #D0021B; border-radius:150px; background-color: #fff;  color:#D0021B;">Delete</button></td>
                              </tr>
                              </tr>
                              <tr>
                                <td>1234</td>
                                <td>ken.yasue@gmail.com</td>
                                <td>Yes</td>
                                <td>13.01.2016.</td>
                                <td>Disabled</td>
                                <td><button type="button" class="btn" style="  border: 2px solid #009ea0; border-radius:150px; background-color: #fff;  color:#009EA0;">Disable</button></td>
                                <td><button type="button" class="btn" style="  border: 2px solid #D0021B; border-radius:150px; background-color: #fff;  color:#D0021B;">Delete</button></td>
                              </tr>
                              </tr>
                            </tbody>
                          </table>
                        
                        
                        
                        
                        <div class="col-sm-12" style="background:#F8F8F8;padding-top:13px;">
                             <p  >Showing 1 od 104 enteries</p> 
                            
                        <nav class="pull-right" style=" margin-top:-35px;">
                            <ul class="pagination pagination-sm" style="margin:0px">
                                <li class="disabled"><a href="#" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span></a>
                                </li>
                                <li class="active"><a href="#">1<span class="sr-only" >(current)</span></a></li>
                                <li class="disabled"><a href="#">2</a></li>
                                <li class="disabled"><a href="#">3</a></li>
                                <li class="disabled"><a href="#">4</a></li>
                                <li class="disabled"><a href="#">5</a></li>
                                <li class="disabled"><a href="#">...</a></li>
                                <li class="disabled"><a href="#">6</a></li>
                                <li class="disabled"><a href="#" aria-label="Next">
                                 <span aria-hidden="true">&raquo;</span></a>
                                </li>
                            </ul>
                        </nav>
                        </div>

-->