.sidebar-navigation{
    overflow-y: auto;
}


.sidebar-folded {

    .sidebar-icons-right {

        .sidebar-header{
            .logo-icon{
                .avatar{
                    min-width:36px;
                }
            }
        }
        @media only screen and (max-width: map-get($grid-breakpoints, lg)) {

            &:hover {
                left: -$width-cons-xl - 80px;
            }

        }

        @media only screen and (min-width: map-get($grid-breakpoints, lg)) {

            &:hover {
                left: 0;
            }

        }

    }

    .sidebar-icons-right.sidebar-icons-boxed {
        
        @media only screen and (max-width: map-get($grid-breakpoints, sm)) {
            
            .logo-icon,.icon {
                margin-left: -260px;
            }
    
        }
        
    }
    
}

.topbar{
    .dropdown-menu{
        position: absolute;
        top: 65px;
        left: -312px;
        will-change: top, left;
    }
    .show{
        display: block;
    }
}

.layout-chat{

    @media only screen and (max-width: map-get($grid-breakpoints, sm)) {
        width: 100vw;
        overflow-x: hidden;
    }

    .main-content{
        
        @media only screen and (max-width: map-get($grid-breakpoints, sm)) {

            &.chat{
                width: 200vw;
            }
            
        }

        height: calc(100vh - 64px);

        &.calling{
            height: calc(100vh - 64px - 50px);
        }

        padding: 0px;
        flex-direction: row;
        
        .chat-container{
        
            overflow-x: hidden;
            overflow-y: hidden;
            margin-bottom: 0px;

            position:relative;
            
            header{
                .media{
                    .media-body{
                        small{
                            display:inline-block;
                            height:12px;
                        }
                    }
                }
            }
        
            .chat-content{
        
                overflow-x: hidden;
                padding-top:20px;
        
                .media-chat{
                    padding-right: 12px;
                    padding-top: 0px;
                    padding-bottom: 0px;
        
                    .media-body{
                        max-width: 90%;
                        display:flex;
                        flex-direction: column;
                        align-items: flex-start;
        
                        p{
                            cursor:pointer;
                            white-space: pre-wrap;
                            transition:0.35s all;
                            max-width:100%;
                            overflow-wrap: break-word;
                            word-wrap: break-word;

                            img{
                                max-width: 150px;
                            }

                            &.sticker-message{
                                background:transparent;
                            }
                            u{
                                word-break: break-word;
                            }

                        }

                        .favorite-message{
                            background-color:#f96197;
                            color:white;
                        }

                        .search-target{
                            border: 1px solid #926dde;
                            border-radius:3px;

                            figure{
                                border: 1px solid #926dde;
                                border-radius:3px;
                            }

                        }

                        %image-shared{
                            background:transparent;
                            width:150px;
                            height:150px;
                            margin: 4px 0;
                            border-radius: 3px;
                            position: relative;
                            display:flex;
                            justify-content: center;
                            align-items:center;
                        }

                        .image-message{
                            @extend %image-shared;

                            .teaser{
                                background:none;
                                margin:0;
                                transition: opacity 0.5s;
                                opacity:1;
                                position:absolute;
                                left:0;
                                right:0;
                                width:150px;
                                height:150px;

                                img{
                                    cursor:pointer;
                                }

                                figcaption{
                                    padding:0;
                                }
                            }
                            .spinner-dots + .teaser{
                                opacity:0;
                            }
                            
                        }
                        .upload-progress{
                            width:200px;
                            display:flex;
                            align-items:center;

                            .upload-abort{
                                color: #f96868;
                                font-size: 30px;
                                cursor: pointer;
                                
                            }

                            .progress{
                                flex:1;
                                margin: 0 0 0 10px;
                            }
                        }

                        .sticker-message{
                            @extend %image-shared;
                            height:200px;
                            width:200px;
                            cursor:pointer;

                            img{
                                max-height:100%;
                                max-width:100%;
                                left:0;
                                right:0;
                                position: absolute;
                                opacity:1;
                                transition: opacity 0.5s;
                            }

                            .spinner-dots + img{
                                opacity:0;
                            }
                        }
                        
                    }
                }
            
                .mymessage{
            
                    flex-direction: row-reverse;
                    
                    .media-body{
                        flex: none;
                        align-items:flex-end;
                        
                        p{
                            background-color: $color-blue;
                            color: #fff;
                            
                            &.unsent{
                                opacity:0.60;
                            }                        
            
                            a{
                                u{
                                    color:white;
                                }
                            }
                         
                        }
                    }
            
                    .meta{
                        text-align: right;
                        min-width: 200px;
                    }
                }
            }

            .chat-content.dragging-over *{
                pointer-events: none;
            }
                
            .stickers-container{
                position:absolute;
                bottom:20px;
                right:30px;
                box-shadow: 0px 0px 20px -5px rgba(0,0,0,0.5);
                width:300px;
                height:400px;
                display:none;

                .nav-tabs{
                    overflow-x:auto;
                    padding:1px;
                    margin-bottom:0;

                    .nav-link{
                        padding:8px 12px;
                    }

                }

                .nav-item{
                    img{
                        max-width:40px;
                    }
                    &:hover{
                        cursor:pointer;
                    }
                }
                .tab-pane{
                    overflow-y:scroll;
                    flex-wrap:wrap;
                    height:325px;
                    .dropdown-item{
                        border:1px solid transparent;
                        &:hover{
                            border-color:#f1f2f3;
                            cursor:pointer;
                        }
                    }

                    img{
                        max-width:58px;
                    }
                }
                .tab-content>.active{
                    display:flex;
                }
                .card-body{
                    padding:0;
                }
            }
            .stickers-visible{
                display:block;
            }

            footer{
                padding: 0;
                textarea{
                    border:none;
                    resize:none;
                    flex: 1;
                    background-color: transparent;
                    padding: 8px 10px;
                    &:focus{
                        outline:none;
                    }
                }
                .gap-items{
                    margin: 0 10px 6px 10px;
                }
            }
        }

        .info-container{
            .nav-tabs-info{
                margin: 0px;
            }
        }

        @media only screen and (max-width: map-get($grid-breakpoints, sm)) {
            
                .chat-container{
                    width: 100vw;
    
                    .stickers-container{
                        width:100%;
                        right:0;
                        bottom:10px;

                        .tab-pane{

                            .dropdown-item{
                                flex:1;
                                text-align: center;
                            
                                img{
                                    max-width:75px;
                                }

                            }
                            

                        }
                    }
                }
            
                .chat-container.hide{
                    margin-left: -100vw;
                }
    
                .info-container{
                    width: 100vw;
                }
            
                .info-container.show{
                    
                }
            
            }
            
            @media only screen and (min-width: map-get($grid-breakpoints, sm)) {
                
                .info-container{
                    width: 30%;
                }
    
                .chat-container{
                    width: 70%;
                }
    
            }

    }

}

.scrollable{
    overflow-y: auto;
}

.media-list{
    overflow-y: auto;
    overflow-x: hidden;    
    height: 100%;
}

.media-list-body{
    .media{
        border-bottom: 1px solid $color-divider-light;

    }
}

.usersview,.groupsview, .messageInfoView{

    height: 100vh;
    overflow-y: auto;

    .media{
        cursor: pointer;   
    }
    .media:hover{
        background-color: $color-bg-light;
    }
}

.messageForward{
    .modal-body{
        max-height:45vh;
        overflow-y:auto;
    }
    .media{
        cursor: pointer;   
    }
    .media:hover{
        background-color: $color-bg-light;
    }
}

.info-container{
    height: calc(100vh - 64px);
    overflow-y: auto;
    overflow-x: hidden;

    .card{
        margin-bottom: 0px;
    }
}

.history-list{

    .history-row{
        cursor: pointer;
        transition: all 0.3s;
    }

    .selected{
        cursor: default;
        background-color: $color-pale-secondary;
    }

    .pinned{
        background-color: lighten($color-pale-success, 4%);
    }

    .pinned.selected{
        background-color: lighten($color-pale-success, 1%);
    }

    .history-row:hover{
        background-color: $color-bg-light;
    }

    .pinned:hover{
        background-color: lighten($color-pale-success, 2%);
    }

}

.lookup-lg{

    .input--height60{
        height:60px;
    }

}

.imageView {
    z-index: -1;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.9);
    opacity: 0;
    transform: scale(0.7);
    transition: opacity 0.3s ease, transform 0.3s ease;
    display:flex;
    justify-content: center;
    align-items: center;
    *{
        box-sizing: border-box;
    }
    
    .imageView-close {
        cursor: pointer;
        font-size: 20px;
        color: #fff;
        position: absolute;
    }
    
    .imageView-close::-moz-focus-inner {
         border: 0;
         padding: 0;
     }
    
    
    .imageView-close{

        top:20px;
        right:20px;
        height: 35px;
        width: 35px;
        cursor: pointer;
        text-decoration: none;
        color: #fff;
        font-size: 25px;
        background: none;
        outline: none;
        border: 0;
        text-align: center;
    }
    
    .imageView-img {
        max-width: 100%;
        max-height:80vh;
        line-height: 0;
        border: 0;
        z-index: -1;
        opacity:0;
        transition:0.2s all;
    }
    .loaded{
        opacity:1;
    }

    .spinner-dots{
        position:absolute;
    }
    
}

.imageView-opened {
    z-index: 9997;
    opacity: 1;transform: scale(1);
       .imageView-container{
        z-index: 9998;
        .imageView-img{
            z-index: 9999;
        }
        .imageView-close{
            z-index: 9999;
        }
    }

}

.messageInfoView{
    .btn{
        margin:10px;
    }
}


.drag-drop-indicator{

    pointer-events: none;
    height: 0px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0,0,0,0.075);
    z-index: 100;
    transition: height 0.3s ease-out, opacity 0.3s ease-out;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow:hidden;
    opacity: 0.5;

    i{
        font-size:60px;
    }
    p{
        font-size: 20px;
        margin-top: 50px;
    }
            
}

.drag-drop-indicator-visible{
    opacity:1;
    height:100%;
    border:4px dashed;  
}