.layout-chat {

    .main-content.notes{

        margin-top: 30px;
        padding: 0px 30px 0px 30px;
        
        .row{
            width:100%;
        }
        
        .card-body{
            overflow-y: auto;
        }

        .note-container {
            box-sizing: inherit;
        }
    }

}