.layout-chat {

    .spinner-linear.password{
        
        position: fixed;
        z-index: 1000;
        left: 380px;
        top: 64px;
        width: calc(100vw - 380px);

        @media only screen and (max-width: map-get($grid-breakpoints, lg)) {
            left: 0px;
            top: 64px;
            width: calc(100vw - 0px);
        }
        
    }

    .main-content.password{

        margin-top: 30px;
        padding: 0px 30px 0px 30px;
    
        .modal.show{
            background: rgba(0,0,0,0.5);
            display: block;
        }
    }

    .row{
        width:100%;
    }
    
    
    .button-container{

        button{
            margin-left: 12px;
        }

    }

}