
<div id="view-main">
    
    <div id="header" class="col-md-12">
        
    </div>
    
    <div id="content-wrapper">
        
        <div id="sidebar" class="col-md-3 hidden-xs hidden-sm">

        </div>
        
        <div id="main-container" class="col-md-6 col-xs-12">

        </div>

        <div id="detailinfo-container" class="col-md-3 hidden-xs hidden-sm">
            
        </div>
        
        
    </div>

</div>