<div id="callingview" class="window-mini">

        <div class="img-holder">
            <img class="img-circle" src="/api/v2/avatar/user/{{callOptions.target.avatar.thumbnail.nameOnServer}}" />
        </div>
        
        <div class="name-holder">{{callOptions.target.name}}</div>
        
        <div id="call-status"></div>
        
        <div class="call-operation">

            <img id="btn-answer" class="icon" src="/images/UI/answer_call.png" />

            <img id="btn-finishcall" class="icon" src="/images/UI/end_call.png" />
            
        </div>
        
</div>