        
        <dic class="col-md-3 hidden-xs hidden-sm sidebar">
            
            <div class="sidebarleft">
            
                <button class="btn" type="button" id="btn-menu-toggle">
                    <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
                </button>
                
            </div>
            
            <span class="sidebartitle">
                {{l10n "Spika for Business"}}
            </span>
            
            <!--
            <div class="sidebarright" id="btn-markall">
            
                <img src="./images/UI/mark_all_as_read.png">
                
            </div>
            
            <button id="btn-new-room" class="btn btn-default">
                <span>{{l10n "New room"}}</span>
            </button>
            -->
            
        </dic>
        
        <div id="custom-header-container" class="col-md-9 col-xs-12" style="display:none">
        </div>
        
        <div id="title-container" class="col-md-9 col-xs-12">

            <div id="header-title">
                
                <span class="img-holder">
                    <img id="header-title-image" class="img-circle" src="" />
                </span>
                
                <!-- <img id="header-online-icon" style="display:none" class="img-circle onlineicon" src="/images/onlineIcon.png" /> -->
                <span id="header-title-title">{{l10n "Please select users or groups."}}</div>
                <!-- <span id="header-title-description">{{l10n "Please select users or groups."}}</div> -->
                
            </div>
        
        </div>
        