	<!-- HEADER / NAVIGATION-->
    <section class="container"> 
        <div class="row error">
            <br><br><br><br><br>
            <h1 class="txt-centar">{{l10n "404! - Page not found!"}}</h1>

            <img class="error" src="/assets/front/images/404.png">
            <p class="txt-centar">{{l10n "The page you are looking for, doesn't not exist :("}}
            
            <br>
            </p>
             <a href="/"  class="col-sm-offset-3 col-sm-6 col-xs-12 btn btn-default" role="button">{{l10n "Back to home"}}</a>
        </div>
    </section>
 

	<footer></footer>
