
<div id="messages">
</div>

<div id="additional-notification-container"></div>

<div id="text-message-box-container">
    <textarea id="text-message-box" autocomplete="off" placeholder="{{l10n "Type your text ..."}}"/></textarea>

    <span id="btn-emoticons">
        <img src="/images/emoticon.png" />
    </span>
    
    <span id="btn-fileupload">
        <img src="/images/attach.png" />
    </span>
    
    <input type="file" name="photo" id="file-input" style="display:none"/>
    
</div>

<div id="file-drop-indicator">
    
    {{l10n "Drop Files Now"}}
</div>