
    {{#each list}}
        <div class="chat-target" id="{{_id}}">
            
            <div class="img-holder">
                <img class="img-circle" src="/api/v2/avatar/user/{{avatar.thumbnail.nameOnServer}}" />
            </div>
            
            <span class="chat-name">
                 {{name}}
            </span><br />

            {{#if onlineStatus}}  <img class="img-circle onlineicon" src="/images/onlineIcon.png" /> {{/if}}

            <span class="chat-description">{{description}}</span><br />
            
            <div class="clearfix"></div>
        </div>
    {{/each}}