
        <div class="search-bar">
            
            <input type="text" id="tb-search-user" placeholder="{{l10n "Search Users"}}"/>
            
        </div>
        
        <div class="listview">
            
        </div>