#detailinfo-container{
    
    padding: 0px;
    font-family: Lato;
    overflow-y: auto;

    #message-info-title{
        padding: 5px;
        background-color: $color-main;
        color: #fff;
    }

    ul{
        
        padding: 0px;
        margin: 0px;
        
        li{
            
            list-style: none;
            border-bottom: 1px solid $gray-lighter;
            vertical-align: middle;
            
            a{
                display: block;
                padding-left : 10px;
                line-height: 50px;
                color: $gray;
            }

            a:hover{
                text-decoration: none;
                background-color: $gray-lighter;
            }
            
            a.disabled{
                text-decoration: none;
                cursor: default;
            }
            
            a.disabled:hover{
                text-decoration: none;
                background-color: #fff;
            }
            
            img{
                max-width: 30px;
                margin-right: 10px;
            }
        
        }
        
        li.spacer{
            height: 10px;
            background-color: $gray-lighter;
        }
        
        li.red-bg{
            
            //background-color: $brand-danger;
            
            a{
                color: $brand-danger;
            }

            a:hover{
                text-decoration: none;
                color : #fff;
                background-color: $brand-danger;
            }
            
        }
        
    }
       
    .img-holder{
        height: 40px;
        float: left;
        margin: 10px;
        position: relative;

        img{
            width: 40px;
        }
        
        .onlineicon{
            position: absolute;
            top: 25px;
            left: 25px;
            width: 18px;
            height: 18px;
            border: 2px solid #fff; 
        }
        
    }
    
    
    .chat-info{
        
        padding: 5px;
        margin-bottom: 10px;
        
        .chat-name{
            margin-top: 20px;
            color : $gray-dark;
            font-size: 15px;
        }

        .chat-description{
            color : $gray-light + #222;
        }
        
    }
    
    ul.onlineusers{
        
        border-top: 1px solid $gray-lighter;

        li{
            
            line-height: 30px;
            vertical-align: middle;
            
            .img-holder{
                height: 20px;
                margin: 5px 35px 5px 5px;
                position: relative;

                img{
                    position: absolute;
                    top: 0px;
                    left: 0px;
                    width: 20px;
                }
                
                .onlineicon{
                    position: absolute;
                    top: 15px;
                    left: 15px;
                    width: 9px;
                    height: 9px;
                    border: 1px solid #fff; 
                }
                
            }
    
        }

    }

    .switch-container{
        float: right;
        padding-right: 10px;
    }
    
    ul#messages-tab{
        
        margin: 0px;
        
        li{
            float: left;
            border: none;
            padding: 5px;
            border-right: 1px solid $gray-lighter;
            border-bottom: 1px solid $gray-light;
            background-color: $gray-lighter;
            cursor: pointer;
        }
        
        li.selected{
            border-bottom: 1px solid #fff;
            background-color: #fff
        }

       li:hover{
            background-color: $gray-lighter + #444;
        }
        
    }
    
}


/* over wright of spika part */
#message-info-container{
    
    h4{
        margin: 5px;
    }
    
    .table{
        margin-bottom: 5px;
    }
    
    table.users{
        img{
            width: 20px;
            
        }
        
        td{
            padding: 5px;
        }
    }
    
}