
.loading #sidebar #sidebar-grouplist .chat-target{
    cursor: wait;
}

.loading #sidebar #sidebar-userlist .chat-target{
    cursor: wait;
}

.loading #sidebar #sidebar-historylist .chat-target{
    cursor: wait;
}

#sidebar{
    
    font-family: Lato;
    border-right: 1px solid $gray-light + #444;
    padding: 0px;
    margin: 0px;
    position: relative;

    
    .search-bar{
        
        padding: 10px;
        border-bottom: 1px solid $gray-lighter;
        
        input{
            width: 100%;
            padding: 5px;
        }
    }
    
    #sidebar-wrapper{
        
        div.listview{
             overflow: auto;
        }
            
    }
    
    #sidebar-userlist{
        
        .chat-target{
        
            cursor: pointer;
            border-bottom: 1px solid $gray-lighter;
            vertical-align: middle;
            padding: 10px;
            position: relative;
            
            .img-holder{
                height: 40px;
                float: left;
                margin-right: 0px;
            }
            
            img{
                width: 40px;
            }

            .onlineicon{
                position: absolute;
                top: 37px;
                left: 37px;
                width: 18px;
                height: 18px;
                border: 2px solid #fff; 
            }
                
            .chat-name{
                color : $gray-dark;
                font-size: 15px;
                margin-left: 10px;
            }

            .chat-description{
                color : $gray-light;
                margin-left: 10px;
            }
            
            .chat-info{
                color : $gray-light;

            }
            
        }
        
        .chat-target:hover{
            background-color: #f4f4f4;
        }
        
    }

        
    #sidebar-grouplist{

        .chat-target{
        
            cursor: pointer;
            border-bottom: 1px solid $gray-lighter;
            vertical-align: middle;
            padding: 10px;
            
            .img-holder{
                height: 40px;
                float: left;
                margin-right: 0px;
            }
            
            img{
                width: 40px;
            }
            
            .chat-name{
                color : $gray-dark;
                font-size: 15px;
                margin-left: 10px;
            }

            .chat-description{
                color : $gray-light;
                margin-left: 10px;
            }
            
            .chat-info{
                color : $gray-light;

            }
            
        }
        
        .chat-target:hover{
            background-color: #f4f4f4;
        }
        
    }

    #sidebar-historylist{
        
        .unread{
            font-weight: bold;
            
            .lastmessage{
                color: #000 !important;
            }
        }
        
        .chat-target{
        
            cursor: pointer;
            border-bottom: 1px solid $gray-lighter;
            position: relative;
            
            .private{
                
                height: 70px;
                padding: 5px;
            
                .img-holder{
                    position: absolute;
                    top: 10px;
                    left: 10px;
                    height: 40px;
                }
                
                img{
                    width: 40px;
                }
                
                .onlineicon{
                    position: absolute;
                    top: 37px;
                    left: 37px;
                    width: 18px;
                    height: 18px;
                    border: 2px solid #fff; 
                }

                .name{
                    position: absolute;
                    left: 60px;
                    top: 20px;
                    font-size: 17px;
                    color: $color-main;
                    
                }

                .lastmessage{
                    position: absolute;
                    left: 60px;
                    top: 40px;
                    font-size: 12px;
                    color: $gray-light;
                }

                .lasttimestamp{
                    position: absolute;
                    right: 10px;
                    top: 5px;
                    font-size: 12px;
                    color: $gray-light;
                }
                
                .badge{
                    display: block;
                    background-color: $brand-danger;
                    position: absolute;
                    right: 10px;
                    top: 30px;
                    font-size: 10px;
                }

                
            }

            .group{
                
                 height: 70px;
                 padding: 5px;
            
                .img-holder{
                    position: absolute;
                    top: 10px;
                    left: 10px;
                    height: 40px;
                }
                
                img{
                    width: 40px;
                }

                .name{
                    position: absolute;
                    left: 60px;
                    top: 20px;
                    font-size: 17px;
                    color: $color-main;
                    
                }

                .lastmessage{
                    position: absolute;
                    left: 60px;
                    top: 40px;
                    font-size: 12px;
                    color: $gray-light;
                }

                .lasttimestamp{
                    position: absolute;
                    right: 10px;
                    top: 5px;
                    font-size: 12px;
                    color: $gray-light;
                }

                .badge{
                    display: block;
                    background-color: $brand-danger;
                    position: absolute;
                    right: 10px;
                    top: 30px;
                    font-size: 10px;
                }
                
            }
            

            .room{
                
                 height: 70px;
                padding: 5px;
            
                .img-holder{
                    position: absolute;
                    top: 10px;
                    left: 10px;
                    height: 40px;
                }
                
                img{
                    width: 40px;
                }

                .name{
                    position: absolute;
                    left: 60px;
                    top: 20px;
                    font-size: 17px;
                    color: $color-main;
                    
                }

                .lastmessage{
                    position: absolute;
                    left: 60px;
                    top: 40px;
                    font-size: 12px;
                    color: $gray-light;
                }

                .lasttimestamp{
                    position: absolute;
                    right: 10px;
                    top: 5px;
                    font-size: 12px;
                    color: $gray-light;
                }

                .badge{
                    display: block;
                    background-color: $brand-danger;
                    position: absolute;
                    right: 10px;
                    top: 30px;
                    font-size: 10px;
                }
                
            }
        }
        
        .chat-target:hover{
            background-color: #f4f4f4;
        }
        
    }
    
    #sidebar-tab{
        
        background-color: #fff;
        position: absolute;
        bottom: 0px;
        width: 100%;
        text-align: center;
        vertical-align: bottom;
        line-height: 60px;
        vertical-align: middle;
        border-top: 1px solid $gray-lighter;
        background-color: #f4f4f4;
        
        ul{
            
            margin: 0px;
            padding: 0px;
            
            li{
                cursor: pointer;
                display: inline-block;
                width: 32%;
                line-height: 60px;
                vertical-align: middle;
                text-align: center;
                padding: 0px;
                color: $color-main;
                font-size: 25px;

            }
            
            li#btn-tab-history{

                position: relative;
                
                .badge{
                    background-color: $brand-danger;
                    color: #fff;
                    position: absolute;
                    top: 20%;
                    left: 55%;
                    border: 2px solid $color-main;
                }
                
            }
            
            li.center{
                border-left: 1px solid $gray-lighter - #111;
                border-right: 1px solid $gray-lighter - #111;
            }
            li:hover{
                
                background-color: $gray-lighter - #111;
                
            }

            li.active{
                
                background-color: $color-main;
                color: #fff;
                
            }
            
        }

    }

}
