@import "../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "../../../node_modules/jquery-colorbox/example1/colorbox";
@import "../../../node_modules/font-awesome/scss/font-awesome";
@import "../../../node_modules/bootstrap-switch/dist/css/bootstrap3/bootstrap-switch";

$color-main : #009EA0;
$sidebar-element-height: 80px;

body {
    overflow-y: hidden;
}

body.loading{
    cursor: wait !important;
}

#main-container.chat{
    @import "../../../modules_customised/spika/src/client/css/style";
    padding: 0px;
}

#main-container{
    padding: 0px;
    position: relative;
    border-right: 1px solid $gray-light + #444;
}


#view-login{
    @import "login";
}

#view-main{
    @import "main";
}

.fa-heart{
    color: #ff3a3a
}

.fa-heart-o{
    color: #ff3a3a
}

@import "detailInfo";
@import "userselector";
@import "sidebar";
@import "sideMenu";
@import "detail";
@import "search";
@import "favorite";
@import "webhook";
@import "modalForward";
@import "callingView";
@import "messaging";

@media(max-width:767px){

}
@media(min-width:768px){

}
@media(min-width:992px){
    
}
@media(min-width:1200px){
    
}

