
    {{#each list}}
        <div class="search-list-row" id="{{_id}}">
            
            <img class="img-circle" src="/api/v2/avatar/group/{{avatar.thumbnail.nameOnServer}}" />
            <span class="name">{{name}}</span><br />

        </div>
    {{/each}}