
    {{#each list}}
        <li id="{{_id}}">
            
            <div class="img-holder">
                <img class="img-circle" src="/api/v2/avatar/user/{{avatar.thumbnail.nameOnServer}}" />
            </div>

            <span class="user-name">{{name}}</span><br />
             
            <div class="clearfix"></div>
        </li>
    {{/each}}
    
    {{#unless nouser}}

        <li class="no-result">
            
            <div class="alert alert-warning" role="alert">{{l10n "No User Found"}}</div>
            
        </li>
    
    {{/unless}}