            
            <div id="sidebar-wrapper">
                
                <div id="sidebar-userlist">
                </div>

                <div id="sidebar-grouplist">
                </div>

                <div id="sidebar-historylist">
                </div>
                
            </div>
            
            <div id="sidebar-tab">

                <ul class="list-inline">
                    <li id="btn-tab-history" class="iconNav active">
                        <img src="/images/UI/1_recent_m_over.png" />
                        <span class="badge"></span>
                    </li>

                    <li id="btn-tab-groups" class="iconNav center">
                        <img src="/images/UI/2_groups.png" />
                    </li>

                    <li id="btn-tab-users" class="iconNav">
                        <img src="/images/UI/3_contacts.png" />
                    </li>
                </ul>
                    
            </div>