<p>
    {{l10n "Please select target to send WebHook message."}}
</p>

<select id="target-id" class="form-control">

    {{#each rooms}}
        <option value="{{_id}}">{{l10n "Room :"}} {{name}}</option>
     {{/each}}
     
</select>

