<button type="button" id="btn-newhook-inbound" class="btn btn-primary">{{l10n "Create inbound hook"}}</button>
<button type="button" id="btn-newhook-outgoing" class="btn btn-primary">{{l10n "Create outgoing hook"}}</button>