
        <div class="search-bar">
            
            <input type="text" id="tb-search-group" placeholder="{{l10n "Search Groups"}}"/>
            
        </div>
        
        <div class="listview">
            
        </div>