.sidebar-navigation{
    overflow-y: auto;
}

.topbar{
    .dropdown-menu{
        position: absolute;
        top: 65px;
        left: -312px;
        will-change: top, left;
    }
    .show{
        display: block;
    }
}

.layout-chat{
    .main-content{
        
        height: calc(100vh - 64px);
        padding: 0px;
        flex-direction: row;
        
        .chat-container{
            margin: 0px;
            width: 70%;
        }

        .info-container{

            width: 30%;
        }

    }
}

.scrollable{
    overflow-y: auto;
}

.media-list{
    overflow-y: auto;
    overflow-x: hidden;    
    height: 100%;
}
