.sidebar-navigation{
    overflow-y: auto;
}

.topbar{
    .dropdown-menu{
        position: absolute;
        top: 65px;
        left: -312px;
        will-change: top, left;
    }
    .show{
        display: block;
    }
}

.layout-chat{
    .main-content{
        
        height: calc(100vh - 64px);
        padding: 0px;
        flex-direction: row;
        
        .chat-container{
            margin: 0px;
            width: 70%;
        }

        .info-container{

            width: 30%;
        }

    }
}

.scrollable{
    overflow-y: auto;
}

.media-list{
    overflow-y: auto;
    overflow-x: hidden;    
    height: 100%;
}

.usersview,.groupsview{

    height: 100vh;
    overflow-y: auto;

    .media{
        cursor: pointer;   
    }
    .media:hover{
        background-color: $color-bg-light;
    }
}

.info-container{
    height: calc(100vh - 64px);
    overflow-y: auto;
    overflow-x: hidden;

    .card{
        margin-bottom: 0px;
    }
}

.history-list{

    .history-row{
        cursor: pointer;
        transition: all 0.3s;
    }

    .history-row:hover{
        background-color: $color-bg-light;
    }

}

.info-container{
    .nav-tabs-info{
        margin: 0px;
    }
}

.chat-container{

    header{
        .media{
            .media-body{
                small{
                    display:inline-block;
                    height:12px;
                }
            }
        }
    }

    .chat-content{

        overflow-x: hidden;

        .media-chat{
            padding-right: 12px;
            padding-top: 0px;
            padding-bottom: 0px;

            .media-body{
                max-width: 90%;

                p{
                    img{
                        max-width: 150px;
                    }
                }
            }
        }
    
        .mymessage{
    
            flex-direction: row-reverse;
            
            p{
                background-color: $color-blue;
                color: #fff;

                a{
                    u{
                        color:white;
                    }
                }
            }
            
            .media-body{
                flex: none;
            }
    
            .meta{
                text-align: right;
                min-width: 200px;
            }
        }
    
        p{
            min-width: 20%;

            &.unsent{
                opacity:0.65;
            }
        }
    }

}

