.layout-chat {

    .spinner-linear.favorite{
        
        position: fixed;
        z-index: 1000;
        left: 380px;
        top: 64px;
        width: calc(100vw - 380px);

        @media only screen and (max-width: map-get($grid-breakpoints, lg)) {
            left: 0px;
            top: 64px;
            width: calc(100vw - 0px);
        }
        
    }

    .main-content.favorite{

        .row{
            width:100%;
        }

        margin-top: 30px;
        padding: 0px 30px 0px 30px;
        
        header{
            width: 100%;
        }

        .code{
            cursor: pointer;
            transition: all 0.5s ease;
            
        }

        .media{
            overflow: hidden;
            width: 100%;
        }
        
        .code-title{
            img{
                width: 20px;
                margin-right: 20px;
                height: 20px;
            }

            a{
                float: right;
                color: $gray-600;
                font-size: 18px;
            }

            a:hover{
                color: $black;
            }
        }

        .media-body{
            overflow-wrap: break-word;
            max-width: 200px;

            .messsage{

                strong{
                    color: $color-red;
                }
                .favorite-sticker{
                    max-width:80px;
                }
                
            }
        }
    }

}