.new-room{
    .media-list{
        height: auto;
    }

    .user-picker{

        position: absolute;
        background-color: $color-bg-new;
        
        .media{
            cursor: pointer;
        }

        .media:hover{
            background-color: #fff;
        }

    }

}