.notification {

    .media-list{
        max-height: 400px;
        overflow-y: auto;
    }

    @media only screen and (max-width: map-get($grid-breakpoints, sm)) {
        .dropdown-menu{
            top: 64px;
            left: -30vw;
        }
    }
}