.layout-chat {

    .spinner-linear.password{
        
        position: fixed;
        z-index: 1000;
        left: 380px;
        top: 64px;
        width: calc(100vw - 380px);

        @media only screen and (max-width: map-get($grid-breakpoints, lg)) {
            left: 0px;
            top: 64px;
            width: calc(100vw - 0px);
        }
        
    }

    .main-content.password{

        margin-top: -30px;
    
    }

    .button-container{

        button{
            margin-left: 12px;
        }

    }

}